*{
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
}

.header{
    text-align: center;
}

table{
    width: 80%;
    margin: 20px auto;
    border-spacing: 0;
}

th, td{
    border: 1px solid black;
    padding: 10px 10px;
}

td{
    text-align: center;
}